h1{
    font-size: 75px;
    padding-left: 20px;
}
p{
    font-size: 20px;
    padding-left: 20px;
}

h3{
    padding-left: 10px;
}

h2{
    padding-left: 5px;
}

ul{
    font-size: 20px;
}

body{
    background-color: rgb(182, 178, 178);
}